<head ng-controller="miCtrl">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container-form sing-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido a CoinCaex</h2>
                <p>¿Ya tienes una cuenta? <br> Inicia Sesión</p>
                <button class="sign-up-btn" routerLink="/login">Iniciar Sesión</button>
    
            </div>
        </div>
        <form class="formulario" (ngSubmit)="register()" #registerForm="ngForm">
            <h2 class="create-account">Crear una cuenta</h2>
            <div class="iconos">
                <div class="border-icons">
                    <i class='bx bxl-google'></i>
                </div>
                <div class="border-icons">
                    <i class='bx bxl-github' ></i>
                </div>
                <div class="border-icons">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crea una cuenta ahora</p>
            <input [(ngModel)]="user.nombre" name="nombre" type="text" placeholder="Nombre">
            <input [(ngModel)]="user.apellido" name="apellido" type="text" placeholder="Apellido">
            <input [(ngModel)]="user.correo" name="correo" type="email" placeholder="Correo electrónico">
            <input [(ngModel)]="user.contrasena" name="contrasena" type="password" placeholder="Contraseña">
            <button type="submit">Registrarse</button>
        </form>
    </div>

</body>